<div>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Please confirm order details</ng-template>
        <h1>Please confirm your order details</h1>

        <h1>Your order:</h1>
        <app-product-card

          *ngFor="let buyList of cartService.myCart"
          [product]="buyList"
          class="leftAlign"
        >
        </app-product-card>

        <div>
          <button class="leftAlign" mat-raised-button matStepperNext>
            confirm
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" required />
        </mat-form-field>
        <p></p>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment details</ng-template>
      <p>Choose payment type</p>
      <div *ngFor="let payment of payments">
        <button mat-button (click)="openDialog(payment.name)">
          <mat-icon>{{ payment.icon }}</mat-icon
          >{{ payment.name }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<div></div>
