.grid{
  height: 350px;;
  width: 250px;
  background-color: rgb(197, 222, 242);
  border-color: black;
  border: 1px;
  padding: 2%;
  margin:4px;
  display: inline-block;
}
.display{
  width: 200px;
  height:133.33px;
}


a{
  text-decoration: unset;
  margin-right: 5px;
}
.colorBox{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin: 0 4px;
}

