
.mat-mdc-form-field {

  min-width: 100px;
  border-radius: 5%;
  max-width: fit-content;
}

mat-card-title {
  margin: 0 10px;
}


.loginButton{
  background-color: antiquewhite;
  margin: 0 10px;
}


form {
  padding: 40px 30px;
}
