
.mat-mdc-form-field {

  min-width: 100px;
  border-radius: 5%;
  max-width: fit-content;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;

}



.button {
  display: flex;
  justify-content: flex-end;

}
