<mat-card appearance="outlined">
  <mat-card-title class="login">Login</mat-card-title>
  <mat-card-content [style.background-color]="'#89CFF0'">
    <div *ngIf="((loginService.loginStatus$| async)?.state == 'notLoggedIn') ">
      <form>
        <p>
          <mat-form-field> Username
            <input
              placeholder="Username"
              matInput
              name="name"

              [(ngModel)]="formData.name"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field> Password
            <input
              type="password"
              matInput
              placeholder="Password"
              name="password"

              [(ngModel)]="formData.loginPass"
            />
          </mat-form-field>
        </p>

        <div >
          <button
            type="submit"
            class="loginButton"
            mat-button
            (click)="checkLog()"
          >
            Login
          </button>
          <button
            type="submit"
            class="loginButton"
            mat-button
            mat-dialog-close
          >
            close
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="((loginService.loginStatus$| async)?.state == 'loggedIn') ">
      <form  >
      <p>
        Welcome {{ (loginService.loginStatus$ | async)?.username }}, we are happy to serve you
      </p>
      <button type="submit"
      class="loginButton"
      mat-button mat-dialog-close
      (click)="logout()"
      >logout</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
