<mat-toolbar color="warn">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let root of roots">
      <div *ngIf="!root?.children">
        <a [routerLink]="root.link" routerLinkActive="router-link-active">
          <button mat-menu-item>{{ root.name }}</button></a
        >
      </div>
      <div *ngIf="root?.children">
        <button mat-menu-item [matMenuTriggerFor]="childEntries">
          {{ root.name }}
        </button>
        <mat-menu #childEntries="matMenu">
          <div *ngFor="let child of root.children">
            <a [routerLink]="child.link" routerLinkActive="router-link-active">
              <button mat-menu-item>{{ child.name }}</button></a
            >
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-menu>

  <span>Welcome to Fashion</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>person</mat-icon>
  </button>
  <mat-spinner
    *ngIf="(loginService.loginStatus$ | async)?.state == 'loading'"
    diameter="20"
  ></mat-spinner>
  <button
    *ngIf="(loginService.loginStatus$ | async)?.state == 'loggedIn'"
    mat-button
  >
    {{ (loginService.loginStatus$ | async)?.username }}
  </button>
  <a href="https://github.com/RituBhowmik">
    <button
      mat-icon-button
      aria-label="share icon"
      class="fa fa-github github-link"
    ></button
  ></a>

  <a routerLink="/cart"
    ><button color="warn" mat-mini-fab>
      <mat-icon
        [matBadge]="CartService.cartLength$ | async"
        matBadgeOverlap="false"
        >shopping_cart</mat-icon
      >
    </button></a
  >
</mat-toolbar>
