.grid{
  height: 400px;;
  width:300px;
  background-color: rgb(197, 222, 242);
  border-color: black;
  border-radius: 4%;
  border: 1px;
  padding: 1%;
  margin:4px;
  display: inline-block;
}
.display{
  width: 200px;
  height:133.33px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-warn {
  background: rgb(35, 173, 237);
  color: #fff;
}
span {
  padding-inline: 10px;
}

.Link{
  text-decoration: unset;
}
.empCart{
  width:-webkit-fill-available;
  margin:10%
}


