<h1 mat-dialog-title>Payment</h1>
<div mat-dialog-content>Would you like to confirm your payment?</div>
<form>
  <mat-form-field *ngIf="typePayment == 'card'">
    <input
      name="card number"
      matInput
      placeholder="Card: 1234-5678-9999"
      required
    />
  </mat-form-field>
  <mat-form-field *ngIf="typePayment == 'redeem'">
    <input
      name="Coupon code"
      matInput
      placeholder="Coupon: 1234-5678-9999"
      required
    />
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
